<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <script src="https://use.fontawesome.com/7215db5432.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css" />

</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - Helse</p>
        </footer>
    </div>

    <script src="https://maps.google.com/maps/api/js?key=AIzaSyBIq9dXrfK8zrA93GGI39hMFgJC2kyI1v0&libraries=placeses,visualization,drawing,geometry,places"></script>
    <script src="~/js/angular.min.js"></script>
    <script src="~/js/ng-map.js"></script>

    <script src="~/app/app.js"></script>
    <script src="~/app/appController.js" ></script>
    <script src="~/app/healthFactory.js" ></script>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
