@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div ng-app="App">
    <div ng-controller="appController">
        
        <div class="text-center">
            <h1>
                Velkommen til helsetjenestene.
            </h1>
            <p>
                Velg et punkt på kartet for å finne helsestasjonene nær deg.
            </p>
        </div>

        <div>
            <ng-map on-click="click()" center="[40.74, -74.18]"></ng-map>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12" ng-repeat="item in stations">
                    {{item.Name}}
                </div>
            </div>
        </div>
    </div>
</div>