@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div ng-app="App">
    <div ng-controller="appController">
        
        <div class="text-center">
            <h1>
                Velkommen til helsetjenestene.
            </h1>
            <p>
                Velg et punkt på kartet for å finne helsestasjonene nær deg.
            </p>
        </div>

        <div class="container-map">
            <ng-map on-click="click()" center="[59.91717182572497, 10.752182006835938]" zoom="10"></ng-map>
        </div>

        <table class="table table-bordered table-striped" ng-if="stations.length > 0">
            <tr>
                <th class="col-xs-8">Navn</th>
                <th class="col-xs-4">Telefon</th>
            </tr>
            <tr ng-repeat="item in stations">
                <td>
                    {{item.Name}}
                </td>
                <td class="text-right">
                    {{item.Phone}}
                </td>
            </tr>
        </table>
    </div>
</div>